# App Information
APP_NAME='Flutter Starter App'
API_KEY=''
BASE_URL=''

#Theme Colors
THEME_PRIMARY='#1565C0'
THEME_SECONDARY='#1565C0'
THEME_ACCENT='#FF8C00'
THEME_DANGER='#F44336'
THEME_WARNING='#FFB300'

# Support Information
SUPPORT_PHONE=''
SUPPORT_EMAIL=