APP_NAME='Flutter Starter App'
API_KEY=
BASE_URL=
# Add other environment variables as needed 

THEME_PRIMARY='#1565C0'
THEME_SECONDARY='#1565C0'
THEME_ACCENT='#FF8C00'
THEME_DANGER='#F44336'

# Support Information
SUPPORT_PHONE=
SUPPORT_EMAIL=